@use "variables" as *;

.button {
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  width: 7rem;
  text-align: center;

  &--primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &--secondary {
    background-color: $color-white;
    color: $color-primary;
  }

  &--accent {
    background-color: $color-accent;
    color: $color-white;
  }

  &--danger {
    background-color: $color-danger;
    color: $color-white;
  }

  &--sm {
    font-size: 12px;
    padding: 0.4em 0.8em;
  }

  &--md {
    font-size: 14px;
    padding: 0.5em 1em;
  }

  &--lg {
    font-size: 16px;
    padding: 0.6em 1.2em;
  }
}

.button-container {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}
